.notes-container{
    width: 70vw;
}



.header-container{
    background-color: #001F8B;
    height: 4.5rem;
    color: white;
    display: flex;
    align-items: center;
}

.nameCircle-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0047FF;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2rem;
    color: #FFFFFF;
    margin-left: 1rem;

}
.notes-background{
    background: #DAE5F5;
    overflow-y:scroll;
    height:65vh;

}


.card-Notes{
    background-color: white;
    padding: 1rem;
    margin: 1.5rem;
}

.notes-background>footer{
    width: 70vw;
    position: relative;
}

.notes-footer{

    display: flex;
    padding: 2rem;
    height: 8rem;
    background: #001F8B;
} 

.notes-footer>input{
    width: 90%;
    padding: 1rem;
}
input[type="text"] {
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
    word-wrap: break-word; /* Wrap long words to the next line */
  }